@import "tailwindcss";

/* 1. Importación directa de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

@theme {
  /* Definimos las variables de fuente con el nombre exacto de Google */
  --font-sans: "Montserrat", sans-serif;
  --font-serif: "Playfair Display", serif;
  
  /* Colores de tu landing */
  --color-brand-blue: #007AFF;
  --color-brand-dark: #292A2C;
  --color-brand-cream: #F5F2EB;
}

@layer base {

  html {
    scroll-behavior: smooth;
  }

  /* Forzamos a que el navegador aplique Montserrat a TODO el sitio */
  * {
    font-family: var(--font-sans);
  }

  body {
    background-color: #09090b; 
    color: var(--color-brand-cream);
    -webkit-font-smoothing: antialiased;
  }

  /* Forzamos a que TODOS los títulos y elementos con clase .font-serif usen Playfair */
  h1, h2, h3, h4, h5, h6, .font-serif {
    font-family: var(--font-serif) !important;
  }
}